*{
    margin: 0px;
    padding: 10px;
    font-family: 'Manrope', sans-serif;
     
}

body{
    
    height: 100vh;
    background-color: hsl(218, 23%, 16%);
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
   
    
}
.container{
    
    background: hsl(217, 19%, 24%);
    padding: 50px 50px;
    width: 40%;
    min-width:500px;
    border-radius: 20px;
    align-items: center;
    justify-content: space-around;
    align-content:center;
}

.adviceTitle{
    color: hsl(150, 100%, 66%);
    font-size: 15px;
    font-style: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
    
    
}

blockquote{
    color: hsl(192, 24%, 88%);
    font-size: 30px;
    font-style: bold;
}

button{
    height: 4rem;
    width: 4rem;
    
    background:  hsl(150, 100%, 66%);

    border: 0;
    border-radius: 4rem;

    display: flex;
    
    align-items: center;


    transition: box-shadow 0.2s;
    cursor: pointer;

    margin-top: 2rem;
    margin-bottom: -5rem;
    
}

button:hover {
    -webkit-box-shadow: 5px 5px 43px -2px  hsl(150, 100%, 66%);
    box-shadow: 5px 5px 43px -2px  hsl(150, 100%, 66%);
}